<div class="firstBlock">
  <div class="logo"></div>
  <div class="firstTitle" *ngIf="getScreenWidth > 1080">Добро пожаловать на студенческую доску объявлений! </div>
  <div class="landingArrow"><a href="#entry"><svg width="72" height="38" viewBox="0 0 72 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L36 36L71 1" stroke="white" stroke-width="2"></path></svg></a></div>
</div>

<div class="thirdBlock">
  <div class="title"><span>Уже заселился в общежитие? </span></div>
  <div class="screensContainer">
    <div class="twoElements">
      <div class="phoneBlock"><div class="phone UPTileV2" id="startMenu"></div>
        <div class="infoPhoneBlock"><span class="infoPhoneTitle">StudDom </span><span class="infoPhoneContent">Платформа, с помощью которой студенты смогут найти всё необходимое для комфортной жизни, начиная от холодильника, заканчивая вазой </span>
        </div>
      </div>
      <div class="phoneBlock"><div class="phone UPTile" id="mainMenu"></div><div class="infoPhoneBlock"><span class="infoPhoneTitle">Поиск нужных товаров и услуг </span><span class="infoPhoneContent">Студенты, проживающие в общежитиях, смогут разместить объявления о товаре, который хотят продать или найти необходимый им товар у других студентов </span>
      </div>
      </div>
    </div>
    <div class="twoElements">
      <div class="phoneBlock"><div class="phone UPTile" id="map"></div>
        <div class="infoPhoneBlock"><span class="infoPhoneTitle"> Быстро и понятно </span><span class="infoPhoneContent">Для удобства сервис реализован в формате мобильного приложения с понятным интерфейсом </span></div>
      </div>
      <div class="phoneBlock"><div class="phone UPTile" id="photoMode"></div>
        <div class="infoPhoneBlock"><span class="infoPhoneTitle">Поиск </span><span class="infoPhoneContent">Возможность найти узконаправленный товар с помощью фильтров.</span>
        </div>
      </div>
    </div>
    <div class="twoElements">
      <div class="phoneBlock"><div class="phone UPTile" id="games"></div>
        <div class="infoPhoneBlock"><span class="infoPhoneTitle">Всё важное вместе </span><span class="infoPhoneContent">Теперь пропустить гитарник, киновечер, чтение стихов будет в разы сложнее! Ведь в приложении есть вкладка всех событий, которые проходят в общежитии  </span>
        </div>
      </div>
      <div class="phoneBlock"><div class="phone UPTile" id="events"></div>
        <div class="infoPhoneBlock"><span class="infoPhoneTitle">Пиши, а не звони </span><span class="infoPhoneContent">У приложения есть возможность отправки уведомлений, таким образом ты не пропустишь публикацию новых товаров/услуг и сможешь быстро договориться о продаже/покупке. </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="thirdBlock">
  <div class="title blockMarket" >
    <span *ngIf="getScreenWidth > 1080">Скачивай мобильное приложение StudDom  </span>
    <div class="twoElements marketImages">
      <div class="googlePlay">
        <a href="https://play.google.com/store/apps/details?id=com.Renity.Repath&hl=ru"><div id="googlePlayImg"></div></a>
        <p class="Bye">С любовью, StudDom</p>
      </div>
    </div>

  </div>
</div>


