.firstBlock {
  background: linear-gradient(-45.37deg, #EDD3D8 20%,#7E87B0);
  /*background-image: url("../../assets/images/landing/phones/mans.png");*/
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.logo{
  width: 14lvw;
  height: 30lvh;
  margin-left: 43lvw;
  margin-top: 30lvh;
  background-image: url("../../assets/images/landing/logo.png");
}

#googlePlayImg{
  width: 413px;
  height: 298px;
  margin-left: 15lvw;
  background-image: url("../../assets/images/landing/googleplay.png");
}

.firstTitle {
  color: #fff;
  display: block;
  font-family: Bowler;
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  margin: auto auto 90px;
  text-align: center;
  width: 80%;
}

.landingArrow {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* News */
.screensContainer, .secondBlock, .thirdBlock {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.rightTitle, .title {
  align-items: center;
  border-bottom: 1px solid #ad00ff;
  border-top: 1px solid #ad00ff;
  display: flex;
  font-family: Bowler;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 40px;
  margin-top: 80px;
  padding-bottom: 0;
  padding-left: 2lvw;
  padding-top: 7px;
  width: 80%;
}

.block {
  align-items: center;
  display: flex;
  margin-bottom: 30px;
  position: relative;
  width: 80vw;
}

.newsBg {
  background: linear-gradient(88.68deg,rgba(173,0,255,.2) .23%,rgba(0,255,102,.2) 99.6%);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  left: 82px;
  min-height: 145px;
  position: absolute;
  width: calc(100% - 82px);
  z-index: -1;
}

.newsText {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  margin-left: 120px;
  margin-top: 25px;
  width: 65%;
}

.plus {
  margin-left: auto;
  margin-right: 5%;
  margin-top: 45px;
}

.newsContent, .newsTitle {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  line-height: 155%;
}
.newsTitle {
  font-size: 22px;
}
.newsImage{
  background-image: url("http://dummyimage.com/150x60.png/99cccc");
  width: 160px;
  height: 182px;

}

/*User panel*/
.screensContainer {
  gap: 50px;
  justify-content: center;
}

.threeElements, .twoElements {
  display: flex;
  gap: 40px;
  width: 1080px;
}

.phoneBlock {
  display: flex;
  position: relative;
}

.phone {
  left: 30px;
  position: absolute;
}

.infoPhoneBlock {
  background: linear-gradient(-65.37deg,#F8ECEF 20%,#DFE2EC);
  border-radius: 16.7277px;
  display: flex;
  flex-direction: column;
  height: 440px;
  margin-top: 325px;
  width: 520px;
}

.infoPhoneContent, .infoPhoneTitle {
  font-family: Gilroy;
  font-style: normal;
  line-height: 155%;
  margin-left: 30px;
}

.infoPhoneTitle {
  font-size: 26px;
  font-weight: 600;
  margin-right: 23px;
  margin-top: 155px;
}

.infoPhoneContent {
  font-size: 18px;
  font-weight: 400;
  margin-right: 20px;
  margin-top: 11px;
}

.UPTile{
  width: 225px;
  height: 450px;
  background-size: contain, contain;
}

.UPTileV2{
  margin-top: 7rem;
  width: 450px;
  height: 300px;
  background-size: contain, contain;
}

#startMenu{background-image: url("../../assets/images/landing/phones/mainMenu.png");
}
#mainMenu{background-image: url("../../assets/images/landing/phones/search.png");}

#map{background-image: url("../../assets/images/landing/phones/fastAndEasy.png");}

#photoMode{background-image: url("../../assets/images/landing/phones/filter.png");}

#games{background-image: url("../../assets/images/landing/phones/event.png");}

#events{background-image: url("../../assets/images/landing/phones/dashboard.png");}

#quests{background-image: url("http://dummyimage.com/150x60.png/99cccc");}

#contact{background-image: url("http://dummyimage.com/150x60.png/99cccc");}

#route{background-image: url("http://dummyimage.com/150x60.png/99cccc");}

#VRObj{background-image: url("http://dummyimage.com/150x60.png/99cccc")}

/*admin panel*/
#adminPanel{background-image: url("http://dummyimage.com/150x60.png/99cccc");}

#controlPanel{background-image: url("http://dummyimage.com/150x60.png/99cccc");}

#mapManagement{background-image: url("http://dummyimage.com/150x60.png/99cccc");}

#objectList{background-image: url("http://dummyimage.com/150x60.png/99cccc");}

#standardQuest{background-image: url("http://dummyimage.com/150x60.png/99cccc");}

#uniqueQuest{background-image: url("http://dummyimage.com/150x60.png/99cccc");}


.screensContainer {
  gap: 50px;
  justify-content: center;
}

.elementAbout {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: start;
  width: 360px;
}

.contentAbout, .titleAbout {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
}

.titleAbout {
  font-size: 26px;
  line-height: 145%;
}

.contentAbout {
  font-size: 18px;
  line-height: 155%;
}

.secondBlock, .thirdBlock {
  width: 100vw;
}

.subtitle {
  font-family: Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 155%;
  margin-left: 28px;
}

/*registration*/

#reg, .registration {
  display: flex;
  flex-direction: column;
}

#reg {
  justify-content: center;
  padding-top: 20px;
}

.registration {
  width: 450px;
}

.inputText {
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  margin-top: 20px;
}

.inputField {
  font-family: Gilroy;
  font-size: medium;
  background: #f0f0f0;
  border: none;
  border-radius: 20px;
  height: 41px;
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
}

.fogot, .login {
  font-family: Gilroy;
  font-style: normal;
  text-align: center;
}

.login {
  background: #ad00ff;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  height: 60px;
  line-height: 155%;
  margin-top: 25px;
  width: calc(100% + 10px);
}

.fogot {
  color: #9f9f9f;
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  margin-bottom: 25px;
  margin-top: 10px;
  text-decoration-line: underline;
}

.menuButton {
  background-color: #ad00ff;
  color: white;
  margin-top: 1rem;
  border-radius: 20px;
  height: 55px;
  width: 28rem;
  padding-top: 0.8rem;
}

.menuButton:hover {
  background-color: #7f10b0;
  color: white;
}

.logPas{
  font-family: Gilroy;
  font-style: normal;
  text-align: center;
}

.blockMarket{
  border-bottom: none;
  justify-content: center;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.appStore{
  width: 347px;
  height: 120px;
  padding-top: 5.5rem;
}
.marketImages{
  padding-left: 9rem;
  text-align: center;
}
.Bye{
  margin-left: 13lvw;
}
.contacts{
  text-align: center;
  margin-left: auto;
}

